@import "./core/animations.scss";

// .main {
//   height: 70vh;
// }

.title {
  font-size: 30px;
  text-align: center;
}

.character-text {
  text-align: center;
}

.App {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  height: 100vh;
}