.character {
    display: flex;
    flex-direction: column;
    background: url("../images/frog-cards.png");
    background-size: 260px 270px;
    background-position: 5% 3%;
    background-repeat: no-repeat;
    width: 270px;
    color: white;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Lora', serif;
}

.character__info {
    background-color: white;
    color: black;
    margin: 3px 0 15px 35px;
    max-width: 200px;
    opacity: 0.5;
    border-radius: 5px;

    &:hover {
        background-color: rgb(90, 69, 185);
        box-shadow: -3px 0px 16px -3px rgba(157, 218, 232, 1);
        opacity: 1;
        color: white;
    }
}

.character__name {
    font-size: medium;
    text-align: center;
    font-weight: bolder;
}

.character__img {
    width: 90px;
    height: 123px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 110px;
    margin-bottom: 30px;
    box-shadow: -2px 3px 17px 9px #ffffff;

    &:hover {
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

.character__gender {
    font-size: smaller;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.character__patronus {
    font-size: smaller;
    text-align: center;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.character__wand {
    font-size: smaller;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}