.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-return {
    margin-bottom: 15px;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;

    &:hover {
        box-shadow: 0px 1px 11px 6px rgba(255, 255, 255, 1);
        background-color: rgb(89, 98, 131);
        color: white;
    }
}

.card-character {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: yellow solid 1px;

    &__img {
        width: 175px;
        height: 250px
    }

    &-Gryffindor {
        background-color: rgba(117, 27, 27, 0.842);
    }

    &-Slytherin {
        background-color: rgba(11, 58, 17, 0.534);
    }

    &-Ravenclaw {
        background-color: rgb(19, 18, 44);
    }

    &-Hufflepuff {
        background-color: rgb(143, 141, 211);
    }

    &-NoHouse {
        background-color: rgba(246, 245, 250, 0.479);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 240px;
        height: 250px;
        width: fit-content;
        // height: fit-content;
        flex-wrap: wrap;
    }

    &__name {
        margin: 0;
        padding: 3px;
        font-family: 'Uncial Antiqua', cursive;
        font-size: 26px;
        text-align: center;
        text-shadow: -1px -1px 2px rgb(248, 250, 248);
    }

    &__live {
        font-weight: 600;
        font-family: 'Indie Flower', cursive;
        font-size: 18px;
        margin-top: 0;
    }
}

.house-shield {
    max-width: 99px;
    height: auto;
}

.no-house {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}