.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card-character {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 420px;
    background-color: rgb(117, 27, 27);

    &-Slytherin {
        background-color: rgba(11, 58, 17, 0.534);
        width: 400px;
    }

    &-Ravenclaw {
        background-color: rgb(19, 18, 44);
    }

    &-Hufflepuff {
        background-color: rgb(143, 141, 211);
    }

    &-NoHouse {
        background-color: rgba(246, 245, 250, 0.479);
        width: 400px;
    }

    &__img {
        width: 173px;
        height: 270px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 9px;
    }

    &__name {
        width: 150px;
        // text-align: center;
        margin-top: 0;
    }

    &__live {
        font-weight: 600;
    }
}

.button-return {
    margin-bottom: 15px;
    width: 150px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;

    &:hover {
        box-shadow: 0px 1px 11px 6px rgba(255, 255, 255, 1);
        background-color: rgb(168, 247, 22);
    }
}

.house-shield {
    width: 100px;
    height: auto;
}