.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    height: 5vh;
}

.github {
    padding-left: 10px;
}