.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character__search {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.character__select {
    margin-left: 10px;
}